<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg=="
      crossorigin="anonymous"
    />
    <title>Testing Examples</title>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="text-right mt-4 mb-4">
          {% block 'nav' %}{% endblock 'nav' %}
        </div>

        {% block 'content' %}{% endblock %}
      </div>
    </div>
  </body>
</html>
