{% extends 'base.html' %}

{% block 'nav' %}
    <a href={% url 'home' %}>Home</a>
{% endblock 'nav' %}

{% block 'content' %}

<h1>Users</h1>

<table class="table table-bordered table-hover table-striped shifts-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Number of Things</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.things.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock 'content' %}
